# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/.recommenders/
/.metadata/
/MyConsistentHashing/
/ConsistentHashingLIBGomatchi/
/PADfs/files/
/PADfs/gossiping.log
